
body{
   /* min-width:300px;*/
    min-height: 400px;
    background: #000;
}

#wrap
{
    min-width:300px;
    width :100vw;
    height:100vh;
    background: #fff;
    position: relative;
}

#main
{
    min-width:300px;
    width :100vw;
    height:100vh;
    overflow:auto;
    position: relative;
}
.search{
    margin: 10px;
    border: 1px solid #0A8CD2;
    box-sizing:border-box;
    position: relative;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
.search .keyword{
    background:transparent;
    border-bottom:0px solid #999;
    #border-width: 1px;
    box-sizing:border-box;
    padding:12px 0px 12px 10px;
}
.search .btn{
    width: 30px;
    height: 25px;
    margin: 0px 10px;
    background: url("../img/search.png") no-repeat center center;
    background-size:25px 25px;
    cursor: pointer;
}
.search .btn:hover{
    background-image: url("../img/search_hover.png");
}

.list{
    font-size: 16px;
    margin: 10px;
    display: block;
}

.list li{
    position: relative;
    border-bottom: 1px dashed #f1f1f1;
}
.list li:hover{
    background: #f1f1f1;
}
.list div{
    display: inline-block;
}
.list .text{
    width: 70%;
    height: 36px;
    line-height: 36px;
    padding-left: 24px;
    overflow: hidden;
    cursor: pointer;
    /*background-image: url("../img/search.png");*/
    background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.list .btn-warp{
    height: 100%;
    padding: 0 10px;
    position: absolute;
    top: 0px;
    right: 0px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
.list .btn{
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}
.list .copy-pass{
    background-image: url('../img/copy.png');
}
.list .delete{
    background-image: url('../img/delete.png');
}

.bottom{
    min-width:300px;
    width: 100vw;
    height: 40px;
    border-top: 1px dashed #f1f1f1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    white-space: normal;
}
.bottom>div{
    max-width: 70vw;
    line-height: 40px;
    margin: 0 10px;
    cursor: pointer;
}
.bottom>div:hover{
    color: #0A8CD2;
}
.bottom .more{
    color: #333;
}
.bottom .user{
    margin-top: 7px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.bottom .photo{
    width: 26px;
    height: 26px;
    margin-right: 4px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    border-radius: 50%;
    background-color: grey;
}
.bottom .name{
    max-width: 50vw;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

#add_page .create-random{
    cursor: pointer;
    color: #01AAED;
}
#add_page .create-random:hover{
     color: #0000FF;
 }

/*------------------------form表单-------开始-------------*/
.layui-layer-page{
    width: 90vw;
}
.form{
    padding: 20px 0;
}
.form-item{
    margin-bottom: 5px;
}
.form-item .form-label{
    min-width: 60px;
    width: 30%;
    padding: 6px 0px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}
.input-inline{
    width: 60%;
    display: inline-block;
}
.input-inline-aux{
    width: 35%;
    display: inline-block;
}
.word-aux{
    width: 25%;
    font-size: 12px;
    display: inline-block;
}
.word-aux .link{
    padding: 2px 4px;
    color: #0A8CD2;
    cursor: pointer;
    display: inline-block;
}
.word-aux .link:hover{
    color: #01AAED;
}
.input-block{
    display: block;
}
.form-item .input{
    height: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding-left: 5px;
    box-sizing:border-box;
}

.form-item-btn{
    margin-top: 20px;
}
.form-item-btn .input-block{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.form-item .btn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    background: #009688;
    cursor: pointer;
}
/*------------------------form表单-------结束-------------*/